.titulo-bg {
    margin-bottom: 60px;
}

main {
    margin-bottom: 60px;
}

main > ul > li:nth-child(even) {
    background-color:var(--cor-11);
}

.bicicleta-bg {
    /* margin-bottom: 60px; */
    padding-left: 0px;
    padding-right: 0px;
}


.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: start;

    box-shadow: inset 180px 0px white;
    
}

/* #bicicleta-imagem {
    max-height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.bicicleta01 {
    background-image: url('../../img/bicicleta/nimbus1.jpg');
}
.bicicleta02 {
    background-image: url('../../img/bicicleta/nimbus2.jpg');
}
.bicicleta03 {
    background-image: url('../../img/bicicleta/nimbus3.jpg');
} */
 
.bicicleta-imagem img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bicicleta-imagem {
    position: relative;
}

.bicicleta-imagem > span {
    display: block;
    position: absolute;
    color: var(--cor-0);
    background-color: var(--cor-12);
    padding: 10px 20px 10px 10px ;
    border-radius: 4px;
    top: 20px;
    right: 0px; 
}

.bicicleta-conteudo h2 {
    margin-bottom: 32px;
}

.bicicleta-conteudo p {
    margin-bottom: 32px;
    max-width: 45ch;
    font-weight: normal;
}

.bicicleta-conteudo img {
    display: inline-block;
    max-width: 24px;
}

.bicicleta-conteudo h2::before {
    content: "";
    background-color: var(--cor-p1);
    display: block; /*pois quero que fique na mesma linha*/
    height: 8px;
    width: 12px;
    margin-bottom: 10px;
}

.bicileta-detalhes {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bicileta-detalhes a {
    place-self: end;
}

.bicileta-detalhes a > img {
    margin-left: 10px;
    width: 18px;
} 

.bicileta-detalhes li {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

@media (max-width: 800px) {

    .titulo-bg {
        margin-bottom: 0px;
    }

    main {
        margin-bottom: 0px;
    }

    .bicicleta {
        grid-template-columns: 1fr;
        box-shadow: inset 0px 0px white;  
    }

    .bicicleta-conteudo p {
        max-width: 100vw;
    }
}

