.bicicletas-lista {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicletas-lista h2 {
    width: 1200px;
    padding: 0 20px;
    /* margin: 0 auto; */
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.bicicletas-lista ul {
    display: flex;
    gap: 40px;
    max-width: 1400px; /*define um limite máximo para que a lista cresça*/
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas-lista img {
    margin-bottom: 16px;
}

.bicicletas-lista h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

}

.bicicletas-lista h3::before {
    content: "";
    background-color: var(--cor-p1);
    display: inline-block; /*pois quero que fique na mesma linha*/
    height: 8px;
    width: 12px;
    margin-right: 8px;
}

.bicicletas-lista li span {
    padding-left: 20px;
}