.bicicleta-bg {
    /* background-color: aqua; */
    margin-top: 60px;
    margin-bottom: 60px;

}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: inset 180px 0px white ;
    
}

.bicicleta-imagem {
    max-height: 380px;
}

.bicicleta-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bicicleta-conteudo h2 {
    margin-bottom: 32px;
    
}

.bicicleta-conteudo p {
    margin-bottom: 32px;
    max-width: 45ch;
    font-weight: normal;

}

.bicicleta-conteudo h2::before {
    content: "";
    background-color: var(--cor-p1);
    display: block; /*pois quero que fique na mesma linha*/
    height: 8px;
    width: 12px;
    margin-bottom: 10px;
}

.bicileta-detalhes {
    display: flex;
    justify-content: space-between;
}

.bicileta-detalhes a {
    align-self: flex-end;
    align-items: flex-start;    
}

.bicileta-detalhes a > img {
    margin-left: 10px;
    width: 18px;
} 

.bicileta-detalhes li {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.bicicleta-conteudo img {
    display: inline-block;
    width: 24px;
}