.bicicleta-bg {
   background: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0%);
    /* background-image: linear-gradient(to right, var(--cor-0) 30%, var(--cor-12) 30%); */
}

.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: start;
}

.bicicleta-imagem {
    position: relative;
}

.bicicleta-imagem span {
    background-color: var(--cor-12);
    display: block; /* ou display: inline-block; */
    position: absolute;
    padding: 8px 16px 8px 8px;
    border-radius: 4px 0 0 4px;
    top: 20px;
    right: 0px; 
}

.bicicleta-imagem img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bicicleta-conteudo h2 {
    margin-bottom: 20px;
}

.bicicleta-conteudo h2::before {
    content: "";
    background-color: var(--cor-p1);
    display: block; /*pois quero que fique na linha de cima*/
    width: 12px;
    height: 8px;
    margin-bottom: 8px;
}

.bicicleta-conteudo p {
    margin-bottom: 32px;
    max-width: 45ch;
    font-weight: normal;
}

.bicicleta-conteudo img {
    display: inline-block;
    max-width: 24px;
}

.bicicleta-detalhes {
    display: grid;
    grid-template-columns: 1fr auto;

}

.bicicleta-detalhes a {
    place-self: end;
}

.bicicleta-detalhes ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.bicicleta-detalhes li {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* .bicicleta-detalhes li+li {
    margin-top: 16px;
} */

@media (max-width: 800px) {
    .bicicleta-bg {
    background: var(--cor-11);
    }

    .bicicleta {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .bicicleta-conteudo p {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .bicicleta-detalhes {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .bicicleta-detalhes ul {
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
    }
    .bicicleta-detalhes a {
            place-self: start;
        }
 }

 @media (max-width: 400px) {
    .bicicleta-detalhes ul {
        grid-template-columns: 1fr;
    }

    .bicicleta-detalhes a {
        place-self: end center;
    }
 }


