.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
}

.botao {
    padding: 16px 32px;
    display: inline-block;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--cor-p5);
    text-transform: uppercase;
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
    /* font-size: 18px;
    line-height: 1.33;
    font-family: 'Poppins';
    font-weight: 600; */
    max-width: max-content; /*significa que todo botão terá no máximo o tamanho do conteúdo dele */
}

.botao.secundario { /* ou seja, quando tiver um elemento com a classe botão e com a classe secundario, serão aplicadas as  declarações abaixo*/
    background: var(--cor-10);
    color: var(--cor-2);
}

.botao:hover {
    background-image: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario:hover {
    background: var(--cor-9);
}

@media (max-width: 600px){
    .botao {
        padding: 12px 16px;
        font-size: 1rem; /*16px*/
    }
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
    transition: color  0.3s ease;    
}

.link::after {
    content:"";
    display: block;
    height: 4px;
    width: 0%;
    background-color: currentColor; /*currentColor é uma variável que  utilizará qualquer valor definido na cor do elemento-pai */
    transition: width 0.3s ease;
}

.link:hover::after {
    width: 100%;
}

.link:hover {
    color: var(--cor-0);
}

/* título das páginas internas */

.titulo-bg {
    background-color: var(--cor-11);
    padding-top: 60px;
    padding-bottom: 60px;
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .titulo-bg {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .titulo p {
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }

    .titulo h1 {
        font-size: 2.5rem;
    }
}

