.depoimento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* height: 400px; */
}

.depoimento-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.depoimento-conteudo {
    background-color: var(--cor-p1);
    align-content: end;
    padding: 40px;
    padding-bottom: 80px;
    position: relative;
}

.depoimento-conteudo::before {
    content: url('/img/dec/top-left-p.svg');
    position: absolute;
    top: 30px;

}

.depoimento-conteudo::after {
    content: url('/img/dec/bottom-right-p.svg');
    position: absolute;
    left: 550px;

}

.depoimento-conteudo p {
    padding-bottom: 40px;
    width: 25ch;

}

.depoimento-conteudo p::before {
    content: "''";
    font-size: 4rem;
    color: var(--cor-p2);
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 10px;
    top: 200px;
}

.depoimento-conteudo span {
    display: block;
}