.perguntas {
    padding-top: 120px;
    padding-bottom: 120px;
}

.perguntas h2 {
    margin-bottom: 60px;
}

/* CSS da forma que o Origamid optou por fazer:  */

.perguntas dl > div {
    padding: 20px;
    border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
    background-color: var(--cor-1);
}

.perguntas dt {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.perguntas dt::before {
    content: "";
    display: inline-block; /*pois quero que fique na mesma linha*/
    background-color: var(--cor-p1);
    width: 12px;
    height: 8px;
}

.perguntas dt::after {
    content: "";
    display: inline-block; /*pois quero que fique na mesma linha*/
    width: 14px;
    height: 6px;
    background-image: url('../../img/icones/seta-abrir.svg');
    transition: 0.3s;

}

.perguntas dt:hover::after {
    transform: rotate(180deg);
}

.perguntas dd {
    padding-left: 20px;
    padding-top: 16px;
     max-width: 80ch;
}

/* CSS da forma que eu optei por fazer: */

/* .perguntas-lista li:nth-child(odd) {
    background-color: var(--cor-1);
}

.perguntas-lista li {
    padding: 20px;
    border-radius: 4px;

    position: relative;
}

.perguntas-lista li::after {
    content: "";
    display: block;
    background-image: url('../../img/icones/seta-abrir.svg');
    width: 14px;
    height: 6px;

    position: absolute;
    top: 32px;
    right: 20px;
    transition: transform 0.3s ease;
}

.perguntas-lista li:hover::after {
    transform: rotate(180deg);
}

.perguntas-lista summary {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 16px;

    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.perguntas-lista summary::before {
    content: "";
    background-color: var(--cor-p1);
    display: inline-block; pois quero que fique na mesma linha
    width: 12px;
    height: 8px;
}

.perguntas-lista p {
    padding-left: 20px;
    max-width: 80ch;
} */

@media (max-width: 800px) {
    .perguntas {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .perguntas h2 {
        margin-bottom: 40px;
    }
}

