.seguros-bg-interno {
    background-color: var(--cor-11);
    padding-top: 0px;
    padding-bottom: 60px;
}

.vantagens-bg {
    background-color: var(--cor-12);
    padding-top: 60px;
    padding-bottom: 60px;
}

.vantagens {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.vantagens img {
    display: block;
    padding-bottom: 10px;
}

.perguntas h1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 800px) {
    .vantagens {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .vantagens {
        grid-template-columns: 1fr;
    }
}