
.termos {
    /* max-width: 750px; */
    margin-top: 80px;
    margin-bottom: 80px;
    counter-reset: item;
}

.termos > li {
    counter-increment: item;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
}

.termos > li::before {
    content: counter(item) ". ";
}

.termos ol {
    counter-reset: subitem;
}

.termos ol li {
    counter-increment: subitem;
    margin-bottom: 20px;
    max-width: 75ch;
}

.termos ol li::before {
    content: counter(item) "." counter(subitem) " ";
}

@media (max-width: 800px) {
    .termos {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .termos > li {
        margin-top: 40px;
    }
}


